#entity_form {
	width: 990px;
}
#new_field {
	margin-top: 0.6em;
	margin-bottom: 1.2em;
}
.handle i {
	opacity: 0.7;
	cursor: move;
}
#fields {
	margin: 20px 0 0 0;
	width: 90%;
}
#fields li {
	list-style: none;
}
.sortable-placeholder {
	bordder 1px dotted rgba(#000, 0.5);
}
#fields .row {
	margin: 0;
	position: relative;
	border-bottom: 1px solid rgba(0, 0, 0, 0.06);
	padding-bottom: 10px;
	margin-bottom: 10px;
}
#fields input {
	width: 90%;
}
.labels > div {
	display: inline-block;
	width: 15%;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.4);
}
.labels > div.title {
	width: 50%;
	font-size: 16px;
	padding-left: 0.0em;
	color: rgba(0, 0, 0, 0.7);
	cursor: pointer;
}
.labels > div.tools {
	display: inline-block;
	width: auto;
}
.labels .tools > div {
	display: inline-block;
	padding: 5px;
	opacity: 0.4;
}
.labels .tools > div:hover {
	opacity: 0.9;
	cursor: pointer;
}
.inverse {
	background: #555;
	color: white;
}
.inverse h2 {
	color: white;
}
.overlay {
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
}
.inputs {
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	padding: 20px;
	background: white;
	margin: auto;
	border-radius: 4px;
	max-height: 90%;
	overflow-y: auto;
	width: 750px;
}
.inputs h2 {
	margin: 0 0 10px;
	font-weight: normal;
	color: #333;
	font-size: 24px;
}
.overlay.visible {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	z-index: 10;
}
.overlay.visible inputs {
	max-height: 90%;
	overflow: auto;
}
.no-fields {
	display: none;
}
.error-no-fields .no-fields {
	display: block;
}
.data_type_meta {
	display: none;
}
.data_type_meta.active {
	display: block;
}
