<div class="btn-group">
	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-gear"></i><span class="caret"></span></a>
	<ul class="dropdown-menu">
		<li><a class="permission-administrator" href="/workspaces/{{ workspace.handle }}/collections/new">New Collection</a></li>
		<li><a href="/workspaces/{{ workspace.handle }}/api">REST API</a></li>
		<li><a class="permission-administrator" href="/workspaces/{{ workspace.handle }}/edit">Configure Workspace</a></li>
		<li><a class="permission-administrator" href="/workspaces/{{ workspace.handle }}/pages/config">Configure Pages</a></li>
	</ul>
</div>

