{% extends "layout.html" %}

{% block css %}
	<link rel="stylesheet" href="/css/api.css">
	<link rel="stylesheet" href="/vendor/hljs/hljs.css">
{% endblock %}


{% block content %}

	<h1 class="pagetitle">REST API</h1>

	<div class="content row">

		<div class="span4 sidebar">
			{% if entity_resources.length %}
				<div class="resources-listing-nav" data-spy="affix" data-offset-top="100">
					<h4>Resources</h4>
					<ul class="nav nav-tabs nav-stacked">
						{% for resources in entity_resources %}
							<li><a href="#{{ resources.entity.name }}">{{ resources.entity.title }}</a></li>
						{% endfor %}
					</ul>
				</div>
			{% else %}
				<h3 class="muted">No resources yet</h3>
			{% endif %}
		</div>

		<div class="content-condensed span8 resources-listing">

			{% for resources in entity_resources %}

				<a name="{{ resources.entity.name }}"></a>

				<h2>{{ resources.entity.title }}</h2>

				{% for resource in resources %}

					<h4>
						<p target="_blank" href="{{ resource.example_uri }}">
							{{ resource.method }} {{ resource.route }}
							{% if resource.preview %}
								&nbsp;<small><a class="btn btn-link" href="{{ resource.preview }}" target="_blank">preview</a></small>
							{% endif %}
						</p>
					</h4>

					<div class="resource-description">{{ resource.description }}</div>

					{% if resource.parameters %}
						<h5>Request Parameters</h5>
						<table class="table parameters">
							<tr>
								<th>Name</th>
								<th>Required?</th>
								<th>Description</th>
							</tr>

							{% for parameter in resource.parameters %}
								<tr>
									<td>{{ parameter.name }}</td>
									<td>{% if parameter.is_required %}Required{% else %}Optional{% endif %}</td>
									<td>{{ parameter.description }}</td>
								</tr>
							{% endfor %}
						</table>
					{% endif %}

					{% if resource.example_response %}
						<pre><code>{{ resource.example_response }}</code></pre>
					{% endif %}

					<hr>

				{% endfor %}

			{% endfor %}

		</div>
	</div>
	</div>

{% endblock %}

{% block footer_js %}
	<script src="/vendor/hljs/hljs.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
