{% extends 'layout.html' %}

{% set title = 'Collection' %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css/entities.css">
{% endblock %}

{% block page_header %}
	<h1 class="pagetitle">
		<a href="/admin/entities">Collections</a>
		<span class="transparent">{{ subtitle }}</span>
	</h1>
{% endblock %}

{% block content %}

	<div class="content"> 

		<form id="collection" method="post">
			<table class="table" id="entity_form">
				<tr>
					<th>Collection Title</th>
					<td>
						<input type="text" name="title" value="{{ entity.title }}">
						<div class="description">Title of the collection (e.g., Featured Books of the Month)</div>
					</td>
				</tr>
				<tr>
					<th>Handle</th>
					<td>
						<input type="text" name="name" value="{{ entity.name }}" data-autoupdate="{% if entity.name %}0{% else %}1{% endif %}">
						<div class="description">Short name for computers; lowercase with no spaces (e.g., featured_books)</div>
					</td>
				</tr>
				<tr>
					<th>Description</th>
					<td>
						<input type="text" name="description" value="{{ entity.description }}">
						<div class="description">What goes in this collection and how is it used?</div>
					</td>
				</tr>
				<tr>
					<th>Item Fields</th>
					<td>
						<ul class="clean" id="fields"></ul>
						<div class="error no-fields">Please add some fields.</div>
						<button class="btn btn-darker" type="button" id="new_field">
							<i class="icon-plus icon-white"></i>
							Add New Field
						</button>
					</td>
				</tr>
			</table>

			<button class="btn btn-primary btn-large" id="save_collection">
				<i class="icon-ok icon-white"></i>
				Save
			</button>

			<script type="text/html" id="row_template">
				{% raw %}
					<div class="labels">
						<div class="tools">
							<div class="handle"><i class="icon-th"></i></div>
						</div>
						<div class="title">{{ field.title }}</div>
						<div class="data_type">{{ field.data_type }}</div>
						<div class="required">{% if field.is_required %}required{% else %}optional{% endif %}</div>
						<div class="tools">
							<div class="settings" title="Settings"><i class="icon-cog"></i></div>
							<div class="delete" title="Delete"><i class="icon-remove"></i></div>
						</div>
					</div>
					<div class="overlay viewport-center">
						<div class="inputs">

							<h2>Field</h2>
							<input type="hidden" name="field_id" value="{{ field.id }}">

							<table class="table table-condensed">
								<tr>
									<th>Title</th>
									<td>
										<input type="text" class="title" name="field_title" placeholder="Title..." value="{{ field.title }}">
										<div class="description">Title of the field</div>
									</td>
								</tr>
								<tr>
									<th>Handle</th>
									<td>
										<input type="text" class="name" name="field_name" data-autoupdate="{% if field.name %}0{% else %}1{% endif %}" placeholder="Handle..." value="{{ field.name }}">
										<div class="description">Name of the field for computers (all lowercase, no spaces)</div>
									</td>
								</tr>
								<tr>
									<th>Description</th>
									<td>
										<input type="text" class="field_description" name="field_description" placeholder="Description..." value="{{ field.description }}">
										<div class="description">Description / help text to appear along with the form input</div>
									</td>
								</tr>
								<tr>
									<th>Data Type</th>
									<td>
										<select class="data_type" name="field_data_type">
											{% for data_type in data_types %}
												<option {% if field.data_type == data_type.name %}selected="selected"{% endif %}>{{ data_type.name }}</option>
											{% endfor %}
										</select>
										<div class="description">Data type to determine input and validation rules</div>
									</td>
								</tr>
								<tr>
									<th>Required</th>
									<td>
										<select class="required" name="field_is_required">
											<option value="1" {% if field.is_required %}selected="selected"{% endif %}>required</option>
											<option value="0" {% if field and !field.is_required %}selected="selected"{% endif %}>optional</option>
										</select>
										<div class="description">Is this field required?</div>
									</td>
								</tr>
							</table>

							<input type="hidden" class="order" name="field_index" placeholder="Index..." value="{{ field.index }}">
							<button type="button" class="btn btn-primary save_fields">
								<i class="icon-ok icon-white"></i>
								Save
							</button>
							<button type="button" class="btn cancel_fields">
								<i class="icon-remove icon-white"></i>
								Cancel
							</button>
						</div>
					</div>
				{% endraw %}
			</script>
		</form>
	</div>

{% endblock %}

{% block footer_js %}

	<script src="/js/collection.js"></script>

	<script>

		var data_types = {{ controls|json_encode|raw }};

		var collection = new Collection({ element: document.querySelector('#collection') });

		var fields = {{ fields|json_encode|raw }} || [];
		fields.forEach(function(field, index) {
			field.index = index;
			collection.addFieldInputs({ field: field });
		});

		$('#fields').sortable({ forcePlaceholderSize: true, handle: '.handle' })
			.bind('sortupdate', function() {
				var inputs = document.querySelectorAll('#fields li input[name=field_index]');
				var forEach = Array.prototype.forEach;
				forEach.call(inputs, function(input, index) {
					input.value = index;
				});
			});

		new InputPair({
			source: document.querySelector("input[name=title]"),
			target: document.querySelector("input[name=name]")
		});

	</script>

{% endblock %}

