{% extends 'layout.html' %}

{% set title = 'Collection' %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css/collection.css">
{% endblock %}

{% block nav %}
	<ul class="nav">
		<li><a href="/workspaces">Workspaces</a></li>
		<li><a href="/workspaces/{{ workspace.handle }}/collections">{{ workspace.title }}</a></li>
		{% if entity %}
			<li><a href="/workspaces/{{ workspace.handle }}/collections/{{ entity.id }}/items">{{ entity.title }}</a></li>
			<li><a href="">Configure</a></li>
		{% else %}
			<li><a href="">New Collection</a></li>
		{% endif %}
	</ul>
{% endblock %}

{% block pagetitle %}
	<div class="pagetitle">
		{% if entity %}
			<h1>{{ entity.title }}</h1>
		{% else %}
			<h1>New Collection</h1>
		{% endif %}
		<br>
	</div>
{% endblock %}

{% block content %}

	<div class="content"> 

		<form id="collection" method="post">
			<input type="hidden" name="workspace_handle" value="{{ workspace.handle }}">
			<table class="table" id="entity_form">
				<tr>
					<th>Collection Title</th>
					<td>
						<input type="text" name="title" value="{{ entity.title }}">
						<div class="description">Title of the collection (e.g., Featured Books of the Month)</div>
					</td>
				</tr>
				<tr>
					<th>Handle</th>
					<td>
						<input type="text" name="name" value="{{ entity.name }}" data-autoupdate="{% if entity.name %}0{% else %}1{% endif %}">
						<div class="description">Short name for computers; lowercase with no spaces (e.g., featured_books)</div>
					</td>
				</tr>
				<tr>
					<th>Description</th>
					<td>
						<input type="text" name="description" value="{{ entity.description }}">
						<div class="description">What goes in this collection and how is it used?</div>
					</td>
				</tr>
				<tr>
					<th>Item Fields</th>
					<td>
						<ul class="clean" id="fields"></ul>
						<div class="error no-fields">Please add some fields.</div>
						<button class="btn btn-darker permission-administrator" type="button" id="new_field">
							<i class="icon-plus icon-white"></i>
							Add New Field
						</button>
					</td>
				</tr>
			</table>

			<button class="btn btn-primary btn-large permission-administrator" id="save_collection">
				<i class="icon-ok icon-white"></i>
				Save
			</button>

			<script type="text/html" id="row_template">
				{% raw %}
					<div class="labels">
						<div class="tools">
							<div class="handle"><i class="icon-th"></i></div>
						</div>
						<div class="title">{{ field.title }}</div>
						<div class="data_type">{{ field.data_type }}</div>
						<div class="required">{% if field.is_required %}required{% else %}optional{% endif %}</div>
						<div class="tools">
							<div class="settings" title="Settings"><i class="icon-cog"></i></div>
							<div class="delete" title="Delete"><i class="icon-remove"></i></div>
						</div>
					</div>
					<div class="overlay viewport-center">
						<div class="inputs">

							<h2>Field</h2>
							<input type="hidden" name="field_id" value="{{ field.id }}">

							<table class="table table-condensed">
								<tr>
									<th>Title</th>
									<td>
										<input type="text" class="title" name="field_title" placeholder="Title..." value="{{ field.title }}">
										<div class="description">Title of the field</div>
									</td>
								</tr>
								<tr>
									<th>Handle</th>
									<td>
										<input type="text" class="name" name="field_name" data-autoupdate="{% if field.name %}0{% else %}1{% endif %}" placeholder="Handle..." value="{{ field.name }}">
										<div class="description">Name of the field for computers (all lowercase, no spaces)</div>
									</td>
								</tr>
								<tr>
									<th>Description</th>
									<td>
										<input type="text" class="field_description" name="field_description" placeholder="Description..." value="{{ field.description }}">
										<div class="description">Description / help text to appear along with the form input</div>
									</td>
								</tr>
								<tr>
									<th>Data Type</th>
									<td>
										<select class="data_type" name="field_data_type">
											{% for data_type in data_types %}
												<option {% if field.data_type == data_type.name %}selected="selected"{% endif %}>{{ data_type.name }}</option>
											{% endfor %}
										</select>
										<div class="description">Data type to determine input and validation rules</div>
										<div class="data_type_meta">
											<textarea name="field_meta">{{ field.meta }}</textarea>
											<div class="description meta_description"></div>
										</div>
									</td>
								</tr>
								<tr>
									<th>Required</th>
									<td>
										<select class="required" name="field_is_required">
											<option value="1" {% if field.is_required %}selected="selected"{% endif %}>required</option>
											<option value="0" {% if field and !field.is_required %}selected="selected"{% endif %}>optional</option>
										</select>
										<div class="description">Is this field required?</div>
									</td>
								</tr>
							</table>

							<input type="hidden" class="order" name="field_index" placeholder="Index..." value="{{ field.index }}">
							<button type="button" class="btn btn-primary save_fields permission-administrator">
								<i class="icon-ok icon-white"></i>
								Done
							</button>
							<button type="button" class="btn cancel_fields permission-administrator">
								<i class="icon-remove icon-white"></i>
								Cancel
							</button>
						</div>
					</div>
				{% endraw %}
			</script>
		</form>
	</div>

{% endblock %}

{% block footer_js %}

	<script src="/js/collection.js"></script>

	<script>

		var data_types = {{ controls|json_encode|raw }};

		var collection = new Collection({ element: document.querySelector('#collection') });

		var fields = {{ fields|json_encode|raw }} || [];
		fields.forEach(function(field, index) {
			field.index = index;
			collection.addFieldInputs({ field: field });
		});

		$('#fields').sortable({
			handle: '.handle',
			update: function() {
				var inputs = document.querySelectorAll('#fields li input[name=field_index]');
				var forEach = Array.prototype.forEach;
				forEach.call(inputs, function(input, index) {
					input.value = index;
				});
			}
		});

		new InputPair({
			source: document.querySelector("input[name=title]"),
			target: document.querySelector("input[name=name]")
		});

		var selects = document.querySelectorAll('select.data_type');

		[].forEach.call(selects, function(select) {

			var meta_input = select.parentNode.querySelector('.data_type_meta');
			var meta_description = select.parentNode.querySelector('.meta_description');

			var sync = function(type) {
				var control = data_types.filter(function(c) { return c.name == type }).shift();
				if (control.meta_description) {
					meta_input.classList.add('active');
					meta_description.innerText = control.meta_description;
				} else {
					meta_input.classList.remove('active');	
					meta_description.innerText = '';
				}
			};

			select.addEventListener('change', function(e) {
				sync(e.target.value);
			});

			sync(select.value);
		});

	</script>

{% endblock %}

