{% extends 'layout.html' %}

{% block page_header %}
	<h1 class="pagetitle">
		Collections
		<a class="btn btn-darker btn-large" href="/admin/entities/new">
			<i class="icon-plus icon-white"></i>
			New Collection
		</a>
	</h1>
{% endblock %}

{% block content %}

	<div class="content">

		<table class="table">
			{% for entity in entities %}
				<tr>
					<td><a href="/admin/entities/{{ entity.id }}/items">{{ entity.title }}</a></td>
					<td>{{ entity.description }}</td>

					<td class="nowrap actions">
						<a class="btn" href="/admin/entities/{{ entity.id }}/edit">
							<i class="icon-pencil"></i>
							edit
						</a>
						<form action="/admin/entities/{{ entity.id }}" method="post">
							<input type="hidden" name="_method" value="delete">
							<button class="btn">
								<i class="icon-remove"></i>
								remove
							</button>
						</form>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>

{% endblock %}
