{% extends 'layout.html' %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/css/entities.css">
{% endblock %}

{% block header_js %}
	<script src="/vendor/underscore/underscore.js"></script>
	<script src="/vendor/swig/swig.js"></script>
{% endblock %}

{% block content %}

	<h1 class="pagetitle">
		<a href="/admin/entities">Streams</a>
		<span class="transparent">{{ subtitle }}</span>
	</h1>

	<div class="content"> 

		<form id="stream" method="post">
			<table class="table" id="entity_form">
				<tr>
					<th>Stream Title</th>
					<td>
						<input type="text" name="title" value="{{ entity.title }}">
						<div class="description">Title of the stream (e.g., Featured Books of the Month)</div>
					</td>
				</tr>
				<tr>
					<th>Description</th>
					<td>
						<input type="text" name="description" value="{{ entity.description }}">
						<div class="description">What goes in this stream and how is it used?</div>
					</td>
				</tr>
				<tr>
					<th>REST Mountpoint</th>
					<td>
						<input type="text" name="rest_mountpoint" value="{{ entity.rest_mountpoint }}">
						<div class="description">Where to find this stream in the API (e.g., /api/featured_books)</div>
					</td>
				</tr>
				<tr>
					<th>Fields</th>
					<td>
						<div class="clean" id="fields"></div>
						<button class="btn btn-darker" type="button" id="new_field">
							<i class="icon-plus icon-white"></i>
							Add New Field
						</button>
					</td>
				</tr>
			</table>

			<button class="btn btn-primary btn-large">
				<i class="icon-ok icon-white"></i>
				Save
			</button>

			<script type="text/html" id="row_template">
				{% raw %}
					<div class="delete">&times;</div>
					<input type="text" class="title" name="field_title" placeholder="Title..." value="{{ field.title }}">
					<input type="text" class="name" name="field_name" placeholder="Key Name..." value="{{ field.name }}">
					<select class="data_type" name="field_data_type">
						{% for data_type in data_types %}
							<option {% if field.data_type == data_type.name %}selected="selected"{% endif %}>{{ data_type.name }}</option>
						{% endfor %}
					</select>
					<select class="required" name="field_is_required">
						<option>required</option>
						<option>optional</option>
					</select>
					<input type="text" class="field_description" name="field_description" placeholder="Description...">
				{% endraw %}
			</script>
		</form>
	</div>

{% endblock %}

{% block footer_js %}

	<script>

		var data_types = ['string', 'text', 'markdown text', 'number', 'email', 'url', 'boolean']
			.map(function(name) { return { name: name } });

		var Stream = function(args) {

			this.initialize = function(args) {

				this.element = args.element;
				this.element.querySelector('#new_field')
					.addEventListener('click', this.addFieldInputs.bind(this));

				var source = this.element.querySelector("#row_template").innerHTML;
				this.template = swig.compile(source);
			};

			this.addFieldInputs = function(args) {

				args = args || {};

				var field = args.field;

				var fields = this.element.querySelector('#fields');
				var row = document.createElement('div');
				row.className = 'row';

				row.innerHTML = this.template({ field: field });
				fields.appendChild(row);

				var deleter = row.querySelector(".delete");
				deleter.addEventListener('click', function() {
					row.parentNode.removeChild(row);
				});
			};

			this.initialize(args);
		}

		var stream = new Stream({ element: document.querySelector('#stream') });

		var fields = {{ fields|json_encode|raw }} || [];
		fields.forEach(function(field) {
			stream.addFieldInputs({ field: field });
		});

	</script>

{% endblock %}

