<div class="navbar navbar-inverse navbar-static-top">
	<div class="navbar-inner">
		<ul class="nav">
			{% block breadcrumbs %}{% endblock %}
		</ul>

		<div class="user pull-right">
			<a class="brand" href="/">
				<img width="75" height="20" src="/images/dataflight_125.png">
			</a>
			{% if {{ session.username }} %}
				<i class="icon-user"></i>&nbsp;
				{{ session.username }}
				<span class="separator">|</span>
				<i class="icon-signout"></i>&nbsp;
				<a href="/admin/logout">Sign Out</a>
			{% else %}
				<i class="icon-signin"></i>&nbsp;
				<a href="/admin/login">Sign In</a>
			{% endif %}
		</div>
	</div>
</div>

