{% extends 'layout.html' %}

{% set title = 'Items' %}

{% block page_header %}
	<h1 class="pagetitle">
		{{ entity.title }}

		{% set icon_color = "icon-white" %}
		{% include "pagination.html" %}

		<div class="pagination-summary">
			{{ pagination.fromResult }}-{{ pagination.toResult }} of {{ pagination.totalResult }}
		</div>

		<a class="btn btn-darker btn-large" href="/admin/entities/{{ entity.id }}/items/new">
			<i class="icon-plus icon-white"></i>
			Create New
		</a>
	</h1>
{% endblock %}

{% block content %}

	<div class="content">

		<h3 class="muted">{{ entity.description }}</h3>

		{% if items.length %}

			<table class="table">
				<tr>
					<th>ID</th>
					{% for field in fields %}
						<th>{{ field.title }}</th>
					{% endfor %}
					<th></th>
					<th></th>
				</tr>

				{% for item in items %}

					<tr>
						<td>
							<a href="/admin/entities/{{ entity.id }}/items/{{ item.id }}/edit">#{{ item.id }}</a>
						</td>

						{% for field in fields %}
							<td><p class="preview">{{ item[field.name] }}</p></td>
						{% endfor %}

						<td>
							<span class="muted">{{ item.status }}</span>
						</td>

						<td class="actions nowrap">
							<a class="btn" href="/admin/entities/{{ entity.id }}/items/{{ item.id }}/edit">
								<i class="icon-pencil"></i>
								Edit
							</a>
						</td>

					</tr>	

				{% endfor %}
			</table>

			{% set icon_color = "icon-black" %}
			{% include "pagination.html" %}

			<div class="pagination-summary">
				{{ pagination.fromResult }}-{{ pagination.toResult }} of {{ pagination.totalResult }}
			</div>

		{% else %}
			<div class="muted">Nothing to see here yet.</div>
		{% endif %}
	</div>

{% endblock %}
