{% extends 'layout.html' %}

{% set title = 'Items' %}

{% block nav %}
	<ul class="nav">
		<li><a href="/workspaces">Workspaces</a></li>
		<li><a href="/workspaces/{{ workspace.handle }}/collections">{{ workspace.title }}</a></li>
		<li><a href="/workspaces/{{ workspace.handle }}/collections/{{ collection.id }}/items">{{ collection.title }}</a></li>
	</ul>
{% endblock %}

{% block pagetitle %}
	<div class="pagetitle">
		<h1>{{ collection.title }}</h1>
		<div class="btn-group">
			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-gear"></i><span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a class="permission-editor" href="/workspaces/{{ workspace.handle }}/collections/{{ collection.id }}/edit">Configure Collection</a></li>
				<li><a href="/workspaces/{{ workspace.handle }}/api/#{{ collection.name }}">REST API</a></li>
			</ul>
		</div>
		<a class="btn btn-darker permission-editor" href="/workspaces/{{ workspace.handle }}/collections/{{ collection.id }}/items/new">
			<i class="icon-plus icon-white"></i>
			Create New
		</a>
		<div class="pagination-summary pull-right">
			{{ pagination.fromResult }}-{{ pagination.toResult }} of {{ pagination.totalResult }}
			{% set icon_color = "icon-black" %}
			{% include "pagination.html" %}
		</div>
		<form class="search_form">
			<input type="text" name="q" value="{{ q }}" placeholder="Search...">
			<button class="btn"><i class="icon-search"></i></button>
		</form>
		<hr>
		<h3 class="muted">{{ collection.description }}</h3>
	</div>
{% endblock %}

{% block content %}
	<div class="content">


		{% if items.length %}

			<table class="table">
				<tr>
					{% for col in column_fields %}
						<th>
							<a href="{{ col.sort_url }}">
								{{ col.title }}
								<span class="sort_indicator">{{ col.sort_indicator }}</span>
							</a>
						</th>
					{% endfor %}
					<th></th>
				</tr>

				{% for item in items %}

					<tr>
						<td>
							<a href="/workspaces/{{ workspace.handle }}/collections/{{ collection.id }}/items/{{ item.id }}/edit">#{{ item.id }}</a>
						</td>

						{% for field in fields %}
							<td><p class="preview">{{ item.data[field.name]|raw }}</p></td>
						{% endfor %}

						<td>
							<span class="muted">{{ item.status|title }}</span>
						</td>

						<td class="actions nowrap">
							<a class="btn permission-editor" href="/workspaces/{{ workspace.handle }}/collections/{{ collection.id }}/items/{{ item.id }}/edit">
								<i class="icon-pencil"></i>
								Edit
							</a>
						</td>

					</tr>	

				{% endfor %}
			</table>

			{% set icon_color = "icon-black" %}
			{% include "pagination.html" %}

			<div class="pagination-summary">
				{{ pagination.fromResult }}-{{ pagination.toResult }} of {{ pagination.totalResult }}
			</div>

		{% else %}
			<div class="muted">Nothing to see here yet.</div>
		{% endif %}
	</div>

{% endblock %}
