{% extends 'layout.html' %}

{% block page_header %}

	<h1 class="pagetitle">
		<a href="/admin/entities/{{ entity.id }}/items">{{ entity.title }}</a>
		<span class="transparent">{{ subtitle }}</span>
	</h1>

{% endblock %}

{% block content %}

	<div class="content">

		<h3 class="muted">{{ entity.description }}</h3>

		<form method="post" enctype="multipart/form-data">
			<table class="table">
				{% for field in fields %}
					<tr>
						<th>{{ field.title }}</th>
						<td>
							{% if field.data_type == 'text' %}
								<textarea name="{{ field.name }}" placeholder="{{ field.control.placeholder }}">{{ item[field.name] }}</textarea>
							{% else if field.data_type == 'image' %}
								{% if item[field.name].url %}
									<img src="{{ item[field.name].url }}" width="100" height="100">
									<input type="hidden" name="{{ field.name }}" value="{{ item[field.name].id }}">
								{% else %}
									<input type="file" name="{{ field.name }}" value="{{ item[field.name] }}">
								{% endif %}
							{% else %}
								<input type="text" name="{{ field.name }}" value="{{ item[field.name] }}" placeholder="{{ field.control.placeholder }}">
							{% endif %}
						
							{% if errors[field.name] %}
								<div class="error">{{ errors[field.name] }}</div>
							{% endif %}

							<div class="description">{{ field.description }}</div>
						</td>
					</tr>
				{% endfor %}
			</table>
			<button class="btn btn-primary btn-large">
				<i class="icon-ok icon-white"></i>
				Save
			</button>
		</form>
	</div>

{% endblock %}
