{% extends 'layout.html' %}

{% set title = 'Items' %}

{% block nav %}
	<ul class="nav">
		<li><a href="/workspaces">Workspaces</a></li>
		<li><a href="/workspaces/{{ workspace.handle }}/collections">{{ workspace.title }}</a></li>
		<li><a href="/workspaces/{{ workspace.handle }}/collections/{{ entity.id }}/items">{{ entity.title }}</a></li>
	</ul>
{% endblock %}

{% block pagetitle %}
	<div class="pagetitle">
		<h1>{{ entity.title }}</h1>
		<a class="btn btn-darker permission-editor" href="/workspaces/{{ workspace.handle }}/collections/{{ entity.id }}/items/new">
			<i class="icon-plus icon-white"></i>
			Create New
		</a>
		<div class="pagination-summary pull-right">
			{{ pagination.fromResult }}-{{ pagination.toResult }} of {{ pagination.totalResult }}
			{% set icon_color = "icon-black" %}
			{% include "pagination.html" %}
		</div>
		<hr>
		<h3 class="muted">{{ entity.description }}</h3>
	</div>
{% endblock %}

{% block content %}
	<div class="content">


		{% if items.length %}

			<table class="table">
				<tr>
					<th>ID</th>
					{% for field in fields %}
						<th>{{ field.title }}</th>
					{% endfor %}
					<th></th>
					<th></th>
				</tr>

				{% for item in items %}

					<tr>
						<td>
							<a href="/workspaces/{{ workspace.handle }}/collections/{{ entity.id }}/items/{{ item.id }}/edit">#{{ item.id }}</a>
						</td>

						{% for field in fields %}
							<td><p class="preview">{{ item[field.name] }}</p></td>
						{% endfor %}

						<td>
							<span class="muted">{{ item.status|title }}</span>
						</td>

						<td class="actions nowrap">
							<a class="btn permission-editor" href="/workspaces/{{ workspace.handle }}/collections/{{ entity.id }}/items/{{ item.id }}/edit">
								<i class="icon-pencil"></i>
								Edit
							</a>
						</td>

					</tr>	

				{% endfor %}
			</table>

			{% set icon_color = "icon-black" %}
			{% include "pagination.html" %}

			<div class="pagination-summary">
				{{ pagination.fromResult }}-{{ pagination.toResult }} of {{ pagination.totalResult }}
			</div>

		{% else %}
			<div class="muted">Nothing to see here yet.</div>
		{% endif %}
	</div>

{% endblock %}
