<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/dist/css/dist.css">
		<link rel="stylesheet" type="text/css" href="/css/global.css">
		<link rel="stylesheet" type="text/css" href="/css/plugins.css">
		<title>{{ title|default('Showcase') }}</title>
		<script src="/dist/js/global.js"></script>
		<script src="/js/plugins.js"></script>
		{% block css %}{% endblock %}
		{% block header_js %}{% endblock %}
		{% include 'permissions.html' %}
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-static-top">
			<div class="navbar-inner">
				<a class="brand" href="/"><img src="/images/showcase_logo.png"></a>
				<div class="user pull-right">
					{% if {{ session.username }} %}
						<i class="icon-user"></i>&nbsp;
						{{ session.username }}
						<span class="separator">|</span>
						<i class="icon-signout"></i>&nbsp;
						<a href="/admin/logout">Sign Out</a>
					{% else %}
						<i class="icon-signin"></i>&nbsp;
						<a href="/admin/login">Sign In</a>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="background">
			{% include 'flash.html' %}
			<div class="breadcrumbs navbar clearfix">
				{% block nav %}{% endblock %}
			</div>
			{% block pagetitle %}{% endblock %}
			{% block content %}{% endblock %}
		</div>
		{% include 'footer.html' %}
		{% block footer_js %}{% endblock %}
	</body>
</html>
