<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/dist/css/dist.css">
		<link rel="stylesheet" type="text/css" href="/css/global.css">
		<script src="/dist/js/global.js"></script>
		{% block css %}{% endblock %}
		{% block header_js %}{% endblock %}
	</head>
	<body>
		{% include 'header.html' %}
		{% block page_header %}{% endblock %}
		{% include 'flash.html' %}
		{% block content %}{% endblock %}
		{% include 'footer.html' %}
		{% block footer_js %}{% endblock %}
	</body>
</html>
