{% extends 'layout.html' %}

{% set title = 'Workspace' %}

{% block pagetitle %}
	<div class="pagetitle">
		<h1>Workspaces</h1>
		<div class="btn-group">
			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-gear"></i><span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a class="permission-superuser" href="/workspaces/new">New Workspace</a></li>
			</ul>
		</div>
		<hr>
		<h3 class="muted">Workspaces are groups of collections, often one per web site</h3>
	</div>
{% endblock %}

{% block content %}

	<div class="content">
		{% if workspaces.length %}
			<table class="table">
				{% for workspace in workspaces %}
					<tr>
						<td><a href="/workspaces/{{ workspace.handle }}/collections">{{ workspace.title }}</a></td>
						<td>{{ workspace.description }}</td>
						<td>
							<a class="btn" href="/workspaces/{{ workspace.handle }}/edit">
								<i class="icon-pencil"></i>
								Configure
							</a>
							<form class="delete" action="/workspaces/{{ workspace.handle }}" method="post">
								<input type="hidden" name="_method" value="delete">
								<button type="submit" class="btn permission-administrator" href="/workspaces/{{ workspace.handle }}/edit">
									<i class="icon-remove"></i>
									Delete
								</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</table>
		{% else %}
			<a class="permission-superuser btn btn-primary" href="/workspaces/new">New Workspace</a>
		{% endif %}
	</div>

{% endblock %}

{% block footer_js %}

	<script>
		var forms = document.querySelectorAll("form.delete");
		[].forEach.call(forms, function(form) {
			form.addEventListener("submit", function(e) {
				if (!confirm("Are you sure you want to delete this workspace?")) {
					e.preventDefault();
				}
			});
		});
	</script>

{% endblock %}

