h2:first-of-type {
	margin-top: 0.3em;

}
h3 {
	font-size: 20px;
}
h5 {
	color: #666;
}
.resource-description {
	margin: 12px 0 24px;
	display: block;
}
.parameters {
	width: auto;
	min-width: auto;
	border: 1px solid #ddd;
}
.parameters td,
.parameters th {
	border-right: 1px solid #ddd;
}
.row {
	margin-left: 0px;
}
.nav.nav-tabs.nav-stacked {
	margin-top: 0.6em;
}
.resources-listing {
	position: relative;
}
.resources-listing-nav {
	margin-right: 30px;
}
.resources-listing-nav.affix {
	top: 32px;
	width: 270px;
}
.sidebar {
	margin: 0;
}
.table {
	min-width: inherit;
}
.preview-link {
	position: absolute;
	right: 14px;
	margin-top: -41px;
	color: #888;
	background: rgba(0,0,0,0.05);
	padding: 1px 8px;
	font-size: 12px;
	border-radius: 2px;
}
