* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
	text-rendering: optimizespeed;
}
a {
	color: #368cb1;
}
a:hover {
	text-decoration: none;
}
.table {
	width: auto;
	min-width: 900px;
	margin-bottom: 30px;
}
.table.table-condensed {
	min-width: 700px;
	margin-bottom: 15px;
}
.table td form {
	margin: 0;
	display: inline-block;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	height: 40px;
	border-radius: 0;
	font-size: 16px;
}
.table th,
.table td {
	border-top: none;
	border-bottom: 1px solid #ddd;
	vertical-align: middle;
}
.table td {
	padding-right: 28px;
}
.table td:last-child {
	padding-right: 8px;
}
.background {
	background: white;
}
.navbar-inverse .navbar-inner {
	background: #225a72;
	border-color: #368db1;
	border-width: 0 0 6px 0;
	padding: 12px 22px 8px 20px;
	vertical-align: middle;
}
.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
	color: white;
	text-shadow: none;
}
.nav > li > a:hover,
.nav > li > a:focus {
	background: inherit;
}
.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
	background: transparent;
	color: white;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.navbar {
	margin-bottom: 0;
	background: #f2f2f2;
}
.navbar:empty {
	display: none;
}
.navbar .nav {
	margin: 3px 0 3px 16px;
	font-size: 14px;
}
.navbar.breadcrumbs {
	border-radius: 4px;
	margin: 20px 20px 0 16px;
}
.navbar .nav li:first-child a {
	padding-left: 0;
}
.navbar .nav li:before {
	content: "\203a";
	color: #bbb;
	font-size: 20px;
	position: relative;
	top: 2px;
}
.navbar .nav li.action {
	margin-left: 15px;
}
.navbar .nav li.action:before,
.navbar .nav li:first-child:before {
	display: none;
}
.navbar .nav > li > a {
	padding-left: 7px;
	padding-right: 7px;
	color: #368cb1;
	text-shadow: none;
	font-size: 13px;
}
.navbar .nav > li:last-child a {
	color: #aaa;
}
.navbar-inner .nav li .btn-large {
	padding-right: 22px;
	padding-left: 22px;
	margin-top: 0;
}
.navbar .nav i {
	opacity: 0.5;
	position: relative;
	top: 1px;
	margin: 0 0.3em 0 0;
	font-size: 18px;
}
.navbar .nav i.icon-plane {
	margin-right: 0.3em;
}
.navbar .user {
	color: rgba(255, 255, 255, 0.95);
	font-size: 15px;
	padding: 8px 10px;
}
.navbar .user i {
	opacity: 0.5;
	font-size: 1.2em;
	margin-bottom: -2px;
}
.navbar .user a {
	color: rgba(255, 255, 255, 0.95);
}
.navbar .brand {
	float: none;
	display: inline-block;
}
.breadcrumbs .nav > li > a {
	display: inline-block;
}
.pagetitle {
	margin: 0;
	background: white;
	color: #333;
	font-weight: normal;
	padding: 13px 25px 5px 20px;
}
.pagetitle hr {
	margin-top: 10px;
}
.pagetitle h1 {
	font-weight: normal;
	font-size: 28px;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 10px;
	margin-right: 10px;
}
.pagetitle a {
	text-decoration: none;
}
.pagetitle > a.btn {
	margin-left: 20px;
	color: white;
	vertical-align: middle;
	background: #a7aeb2;
}
.pagetitle > a.btn:hover {
	opacity: 0.8;
}
.pagetitle .nav {
	margin: 16px 0 6px 0;
}
.pagetitle .nav li {
	font-size: 28px;
	display: inline-block;
	padding: 5px 7px 5px 0;
}
.pagetitle .nav li:first-child:before {
	display: none;
}
.pagetitle .nav li:before {
	margin-right: 12px;
	content: "\203a";
	color: #bbb;
}
.dropdown-toggle .caret {
	opacity: 0.5;
}
code {
	font-family: Consolas, "Liberation Mono", Courier, monospace;
}
.btn {
	background: #f0f0f0;
	color: #787878;
	border: none;
	text-shadow: none;
	padding: 10px 16px;
	border-radius: 3px;
	box-shadow: none;
	margin-right: 5px;
}
.btn-link {
	color: #368cb1;
}
.btn-link:hover {
	background: #f6f6f6;
	text-decoration: none;
}
.btn-secondary {
	background: #a4c7d6;
	color: white;
}
.btn-secondary:hover {
	background: #c2e0ea;
	color: white;
}
.btn-text {
	background: none;
	color: #808080;
}
.btn-large {
	padding: 13px 32px 13px 26px;
}
.btn-primary {
	background: #368db1;
	color: white;
}
.btn-primary:hover {
	background: #368db1;
	opacity: 0.8;
}
.btn-darker {
	background: rgba(0, 0, 0, 0.2);
	color: rgba(255, 255, 255, 0.9);
}
.btn-darker:hover {
	background: rgba(0, 0, 0, 0.3);
	color: white;
}
.btn [class^=icon] {
	opacity: 0.75;
	margin-right: 3px;
}
h3.muted {
	font-size: 20px;
	margin-top: -10px;
	color: #ccc;
}
.muted {
	font-weight: normal;
}
.content > h3 {
	margin-top: 0;
	position: relative;
	top: -7px;
}
.content {
	margin: 0;
	padding: 0 20px 100px 20px;
	background: white;
}
.nowrap {
	white-space: nowrap;
}
td.actions {
	width: 1px;
}
form .table td,
form .table th {
	background: #e9f4f9;
	border-color: white;
	border-width: 2px;
	padding-left: 2em;
	color: rgba(0, 0, 0, 0.7);
}
form .table th {
	width: 25%;
}
form .table td textarea,
form .table td input[type=text] {
	position: relative;
	top: 3px;
	width: 90%;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
}
form .table td textarea {
	height: 150px;
}
form .error,
form .table td textarea + .error,
form .table td input[type=text] + .error {
	width: 90%;
	padding: 3px 8px;
	color: white;
	background: #f8784c;
	margin-top: -10px;
	margin-bottom: 10px;
}
form .table.table-condensed input[type=text], 
form .table.table-condensed select {
	font-size: 14px;
}
.transparent {
	opacity: 0.5;
}
.description {
	opacity: 0.5;
	margin-bottom: 0.5em;
}
.pagetitle + .alert.alert-block {
	border-radius: 0;
}
.alert.alert-block {
	padding-left: 20px;
	font-size: 16px;
	margin: 0;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.pagination span.btn {
	opacity: 0.5;
}
.pagination span.btn:hover {
	background: rgba(0, 0, 0, 0.2);
	opacity: 0.5;
	cursor: default;
}
.pagination {
	margin: 0;
	display: inline;
	font-size: 22px;
}
.pagination .btn {
	padding-left: 20px;
	padding-right: 14px;
}
.pagination .btn + .btn {
	margin: 0 0 0 -3px;
}
.pagination-summary {
	display: inline-block;
	font-size: 16px;
	opacity: 0.8;
	margin-left: 0.4em;
}
.pagination:first-line {
	font-size: 0;
}
.pagetitle .pagination {
	margin-left: 12px;
}
.viewport-center {
	top: 0;
	left: 0;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-pack: center;
	-moz-box-align: center;
	display: box;
	box-orient: horizontal;
	box-pack: center;
	box-align: center;
}
.content-condensed {
	width: 990px;
}
.center-box {
	margin: 50px auto;
	width: 700px;
	border: 1px solid #ccc;
	padding: 50px;
}
pre {
	border-radius: 2px;
	background: #f8f8f8;
}
body pre code {
	padding: 0;
}
p {
	margin: 0;
}
p + pre {
	margin-top: 10px;
}
.badge {
	margin-left: 5px;
	background: #ccc;
}
.editor-container {
	width: 90%;
	border: 1px solid #ccc;
}
img {
	height: inherit;
}
.separator {
	padding: 0 6px;
	opacity: 0.3;
	font-size: 1.4em;
}
footer {
	border-top: 1px solid #ccc;
	height: 100px;
}
.permission-superuser,
.permission-administrator,
.permission-editor {
	visibility: hidden;
}

