<textarea style="display: none" name="{{ field.name }}" placeholder="{{ field.control.placeholder }}">{{ item.data[field.name] }}</textarea>
<div class="editor-container" id="editor_{{ field.name }}"></div>
<script>
(function() {
	var editor = new EpicEditor({
		container: document.querySelector("#editor_{{ field.name }}"),
		textarea: document.querySelector("textarea[name={{ field.name }}]"),
		basePath: '/dist/epic',
		theme: {
			editor: '/../../css/editor/editor.css',
			preview: '/../../css/editor/preview.css'
		},
		file: {
			name: Math.random()
		},
		autogrow: {
			maxHeight: function() { return $(window).height() * 0.8 }
		}
	});
	editor.load();
}());
</script>

